W1tsb2NhbHxsb2NhbHJjXV0KRk9SQ0U9eWVzCgpQSVBfVVBHUkFERT1UcnVlCgpVU0VfUFlUSE9O
Mz1UcnVlClBZVEhPTjNfVkVSU0lPTj0zLjgKClFfUExVR0lOPW1sMgpRX0FHRU5UPW9wZW52c3dp
dGNoCgpEQVRBQkFTRV9UWVBFPW15c3FsCgpDSU5ERVJfRU5BQkxFRF9CQUNLRU5EUz1kZWxsOkVN
Qy1IaWdoUGVyZm9ybWFuY2UKCltbcG9zdC1jb25maWd8JE5PVkFfQ09ORl1dCltERUZBVUxUXQp2
aWZfcGx1Z2dpbmdfaXNfZmF0YWwgPSBmYWxzZQp2aWZfcGx1Z2dpbmdfdGltZW91dCA9IDAKCltb
cG9zdC1jb25maWd8JENJTkRFUl9DT05GXV0KW0RFRkFVTFRdCnpvbmluZ19tb2RlID0gZmFicmlj
CmVuYWJsZWRfYmFja2VuZHMgPSBFTUMtSGlnaFBlcmZvcm1hbmNlCnpvbmVfZHJpdmVyPWNpbmRl
ci56b25lbWFuYWdlci5kcml2ZXJzLmNpc2NvLmNpc2NvX2ZjX3pvbmVfZHJpdmVyLkNpc2NvRkNa
b25lRHJpdmVyCmRlZmF1bHRfdm9sdW1lX3R5cGUgPSBFTUMtSGlnaFBlcmZvcm1hbmNlCgpbRU1D
LUhpZ2hQZXJmb3JtYW5jZV0KdW5pdHlfc3RvcmFnZV9wb29sX25hbWVzID0gUG9vbF8xCnNhbl9p
cCA9IDE3My4zOS44OS4xNDIKc2FuX2xvZ2luID0gYWRtaW4Kc2FuX3Bhc3N3b3JkID0gTmJ2XzEy
MzQ1CnZvbHVtZV9kcml2ZXI9Y2luZGVyLnZvbHVtZS5kcml2ZXJzLmRlbGxfZW1jLnVuaXR5LkRy
aXZlcgp2b2x1bWVfYmFja2VuZF9uYW1lID0gRU1DLUhpZ2hQZXJmb3JtYW5jZQpzdG9yYWdlX3By
b3RvY29sID0gZmMKCltkYXRhYmFzZV0KbWF4X3Bvb2xfc2l6ZT0yMAptYXhfb3ZlcmZsb3c9MzAK
CltmYy16b25lLW1hbmFnZXJdCmNpc2NvX3NiX2Nvbm5lY3Rvcj1jaW5kZXIuem9uZW1hbmFnZXIu
ZHJpdmVycy5jaXNjby5jaXNjb19mY196b25lX2NsaWVudF9jbGkuQ2lzY29GQ1pvbmVDbGllbnRD
TEkKZmNfZmFicmljX25hbWVzPUNpc2NvT3NGYWIyCmZjX3Nhbl9sb29rdXBfc2VydmljZT1jaW5k
ZXIuem9uZW1hbmFnZXIuZHJpdmVycy5jaXNjby5jaXNjb19mY19zYW5fbG9va3VwX3NlcnZpY2Uu
Q2lzY29GQ1Nhbkxvb2t1cFNlcnZpY2UKem9uZV9kcml2ZXI9Y2luZGVyLnpvbmVtYW5hZ2VyLmRy
aXZlcnMuY2lzY28uY2lzY29fZmNfem9uZV9kcml2ZXIuQ2lzY29GQ1pvbmVEcml2ZXIKem9uaW5n
X3BvbGljeT1pbml0aWF0b3ItdGFyZ2V0CmNpc2NvX3pvbmVfbmFtZV9wcmVmaXg9b3BlbnN0YWNr
CgpbQ2lzY29Pc0ZhYjJdCiNjaXNjb19mY19mYWJyaWNfYWRkcmVzcz17e21kc19pcF9tYXBwaW5n
W2hvc3R2YXJzW2ludmVudG9yeV9ob3N0bmFtZV1bJ25vZGVwb29sJ11bJ3Byb3ZpZGVyJ11dfX0K
Y2lzY29fZmNfZmFicmljX2FkZHJlc3M9MTczLjM5Ljg5LjEzMApjaXNjb19mY19mYWJyaWNfdXNl
cj1hZG1pbgpjaXNjb19mY19mYWJyaWNfcGFzc3dvcmQ9bmJ2XzEyMzQ1CmNpc2NvX2ZjX2ZhYnJp
Y19wb3J0PTIyCmNpc2NvX3pvbmluZ19wb2xpY3k9aW5pdGlhdG9yLXRhcmdldApjaXNjb196b25l
X2FjdGl2YXRlPXRydWUKY2lzY29fem9uZV9uYW1lX3ByZWZpeD1jdXN0b20KY2lzY29fem9uaW5n
X3ZzYW49NAo=
