W1tsb2NhbHxsb2NhbHJjXV0KRk9SQ0U9eWVzCgpVU0VfUFlUSE9OMz1UcnVlClBZVEhPTjNfVkVS
U0lPTj0zLjgKClFfUExVR0lOPW1sMgpRX0FHRU5UPW9wZW52c3dpdGNoClFfVVNFX1NFQ0dST1VQ
PVRydWUKUV9NTDJfUExVR0lOX01FQ0hBTklTTV9EUklWRVJTPW9wZW52c3dpdGNoLGxpbnV4YnJp
ZGdlLGwycG9wdWxhdGlvbgpRX01MMl9QTFVHSU5fVFlQRV9EUklWRVJTPWxvY2FsLGZsYXQsdmxh
bixncmUsdnhsYW4KCkRBVEFCQVNFX1RZUEU9bXlzcWwKCkNJTkRFUl9FTkFCTEVEX0JBQ0tFTkRT
PWRlbGw6RU1DLUhpZ2hQZXJmb3JtYW5jZQoKW1twb3N0LWNvbmZpZ3wkTk9WQV9DT05GXV0KW0RF
RkFVTFRdCnZpZl9wbHVnZ2luZ19pc19mYXRhbD1mYWxzZQp2aWZfcGx1Z2dpbmdfdGltZW91dD0w
CgpibG9ja19kZXZpY2VfYWxsb2NhdGVfcmV0cmllcz0zMDAKYmxvY2tfZGV2aWNlX2FsbG9jYXRl
X3JldHJpZXNfaW50ZXJ2YWw9NQpibG9ja19kZXZpY2VfY3JlYXRpb25fdGltZW91dD04MDAKCltb
cG9zdC1jb25maWd8JENJTkRFUl9DT05GXV0KW0RFRkFVTFRdCnpvbmluZ19tb2RlPWZhYnJpYwpl
bmFibGVkX2JhY2tlbmRzPUVNQy1IaWdoUGVyZm9ybWFuY2UKem9uZV9kcml2ZXI9Y2luZGVyLnpv
bmVtYW5hZ2VyLmRyaXZlcnMuY2lzY28uY2lzY29fZmNfem9uZV9kcml2ZXIuQ2lzY29GQ1pvbmVE
cml2ZXIKZGVmYXVsdF92b2x1bWVfdHlwZT1FTUMtSGlnaFBlcmZvcm1hbmNlCgpbRU1DLUhpZ2hQ
ZXJmb3JtYW5jZV0KdW5pdHlfc3RvcmFnZV9wb29sX25hbWVzPVBvb2xfMQpzYW5faXA9MC4wLjAu
MApzYW5fbG9naW49YWRtaW4Kc2FuX3Bhc3N3b3JkPU5idl8xMjM0NQp2b2x1bWVfZHJpdmVyPWNp
bmRlci52b2x1bWUuZHJpdmVycy5kZWxsX2VtYy51bml0eS5Ecml2ZXIKdm9sdW1lX2JhY2tlbmRf
bmFtZT1FTUMtSGlnaFBlcmZvcm1hbmNlCnN0b3JhZ2VfcHJvdG9jb2w9ZmMKCltkYXRhYmFzZV0K
bWF4X3Bvb2xfc2l6ZT0yMAptYXhfb3ZlcmZsb3c9MzAKCltmYy16b25lLW1hbmFnZXJdCmNpc2Nv
X3NiX2Nvbm5lY3Rvcj1jaW5kZXIuem9uZW1hbmFnZXIuZHJpdmVycy5jaXNjby5jaXNjb19mY196
b25lX2NsaWVudF9jbGkuQ2lzY29GQ1pvbmVDbGllbnRDTEkKZmNfZmFicmljX25hbWVzPUNpc2Nv
T3NGYWIyCmZjX3Nhbl9sb29rdXBfc2VydmljZT1jaW5kZXIuem9uZW1hbmFnZXIuZHJpdmVycy5j
aXNjby5jaXNjb19mY19zYW5fbG9va3VwX3NlcnZpY2UuQ2lzY29GQ1Nhbkxvb2t1cFNlcnZpY2UK
em9uZV9kcml2ZXI9Y2luZGVyLnpvbmVtYW5hZ2VyLmRyaXZlcnMuY2lzY28uY2lzY29fZmNfem9u
ZV9kcml2ZXIuQ2lzY29GQ1pvbmVEcml2ZXIKem9uaW5nX3BvbGljeT1pbml0aWF0b3ItdGFyZ2V0
CmNpc2NvX3pvbmVfbmFtZV9wcmVmaXg9b3BlbnN0YWNrCgpbQ2lzY29Pc0ZhYjJdCmNpc2NvX2Zj
X2ZhYnJpY19hZGRyZXNzPTAuMC4wLjAKY2lzY29fZmNfZmFicmljX3VzZXI9YWRtaW4KY2lzY29f
ZmNfZmFicmljX3Bhc3N3b3JkPW5idl8xMjM0NQpjaXNjb19mY19mYWJyaWNfcG9ydD0yMgpjaXNj
b196b25pbmdfcG9saWN5PWluaXRpYXRvci10YXJnZXQKY2lzY29fem9uZV9hY3RpdmF0ZT10cnVl
CmNpc2NvX3pvbmVfbmFtZV9wcmVmaXg9Y3VzdG9tCmNpc2NvX3pvbmluZ192c2FuPTQK
