W1tsb2NhbHxsb2NhbHJjXV0KRk9SQ0U9eWVzCgpQSVBfVVBHUkFERT1UcnVlCgpVU0VfUFlUSE9O
Mz1UcnVlClBZVEhPTjNfVkVSU0lPTj0zLjgKClFfUExVR0lOPW1sMgpRX0FHRU5UPW9wZW52c3dp
dGNoClFfRFZSX01PREU9ZGlzYWJsZWQKCkRBVEFCQVNFX1RZUEU9bXlzcWwKCkNJTkRFUl9FTkFC
TEVEX0JBQ0tFTkRTPWRlbGw6RU1DLUhpZ2hQZXJmb3JtYW5jZQoKW1twb3N0LWNvbmZpZ3wkTk9W
QV9DT05GXV0KW0RFRkFVTFRdCnZpZl9wbHVnZ2luZ19pc19mYXRhbCA9IGZhbHNlCnZpZl9wbHVn
Z2luZ190aW1lb3V0ID0gMAoKW1twb3N0LWNvbmZpZ3wkQ0lOREVSX0NPTkZdXQpbREVGQVVMVF0K
em9uaW5nX21vZGUgPSBmYWJyaWMKZW5hYmxlZF9iYWNrZW5kcyA9IEVNQy1IaWdoUGVyZm9ybWFu
Y2UKem9uZV9kcml2ZXI9Y2luZGVyLnpvbmVtYW5hZ2VyLmRyaXZlcnMuY2lzY28uY2lzY29fZmNf
em9uZV9kcml2ZXIuQ2lzY29GQ1pvbmVEcml2ZXIKZGVmYXVsdF92b2x1bWVfdHlwZSA9IEVNQy1I
aWdoUGVyZm9ybWFuY2UKCltFTUMtSGlnaFBlcmZvcm1hbmNlXQp1bml0eV9zdG9yYWdlX3Bvb2xf
bmFtZXMgPSBQb29sXzEKc2FuX2lwID0gMTczLjM5Ljg5LjE0MgpzYW5fbG9naW4gPSBhZG1pbgpz
YW5fcGFzc3dvcmQgPSBOYnZfMTIzNDUKdm9sdW1lX2RyaXZlcj1jaW5kZXIudm9sdW1lLmRyaXZl
cnMuZGVsbF9lbWMudW5pdHkuRHJpdmVyCnZvbHVtZV9iYWNrZW5kX25hbWUgPSBFTUMtSGlnaFBl
cmZvcm1hbmNlCnN0b3JhZ2VfcHJvdG9jb2wgPSBmYwoKW2RhdGFiYXNlXQptYXhfcG9vbF9zaXpl
PTIwCm1heF9vdmVyZmxvdz0zMAoKW2ZjLXpvbmUtbWFuYWdlcl0KY2lzY29fc2JfY29ubmVjdG9y
PWNpbmRlci56b25lbWFuYWdlci5kcml2ZXJzLmNpc2NvLmNpc2NvX2ZjX3pvbmVfY2xpZW50X2Ns
aS5DaXNjb0ZDWm9uZUNsaWVudENMSQpmY19mYWJyaWNfbmFtZXM9Q2lzY29Pc0ZhYjIKZmNfc2Fu
X2xvb2t1cF9zZXJ2aWNlPWNpbmRlci56b25lbWFuYWdlci5kcml2ZXJzLmNpc2NvLmNpc2NvX2Zj
X3Nhbl9sb29rdXBfc2VydmljZS5DaXNjb0ZDU2FuTG9va3VwU2VydmljZQp6b25lX2RyaXZlcj1j
aW5kZXIuem9uZW1hbmFnZXIuZHJpdmVycy5jaXNjby5jaXNjb19mY196b25lX2RyaXZlci5DaXNj
b0ZDWm9uZURyaXZlcgp6b25pbmdfcG9saWN5PWluaXRpYXRvci10YXJnZXQKY2lzY29fem9uZV9u
YW1lX3ByZWZpeD1vcGVuc3RhY2sKCltDaXNjb09zRmFiMl0KI2Npc2NvX2ZjX2ZhYnJpY19hZGRy
ZXNzPXt7bWRzX2lwX21hcHBpbmdbaG9zdHZhcnNbaW52ZW50b3J5X2hvc3RuYW1lXVsnbm9kZXBv
b2wnXVsncHJvdmlkZXInXV19fQpjaXNjb19mY19mYWJyaWNfYWRkcmVzcz0xNzMuMzkuODkuMTMw
CmNpc2NvX2ZjX2ZhYnJpY191c2VyPWFkbWluCmNpc2NvX2ZjX2ZhYnJpY19wYXNzd29yZD1uYnZf
MTIzNDUKY2lzY29fZmNfZmFicmljX3BvcnQ9MjIKY2lzY29fem9uaW5nX3BvbGljeT1pbml0aWF0
b3ItdGFyZ2V0CmNpc2NvX3pvbmVfYWN0aXZhdGU9dHJ1ZQpjaXNjb196b25lX25hbWVfcHJlZml4
PWN1c3RvbQpjaXNjb196b25pbmdfdnNhbj00Cg==
